<div class="row">
    <div class="filters col-md-8 offset-md-2">
        <!-- <pre>{{ availableSearchFields | json }}</pre> -->
        <div class="row">
            <div class="form-group col-md-6">
                <label for="">Marque as opções para filtrar</label>
                <select class="ant-select form-control" multiple [(ngModel)]="availableSearchFields">
                    <option value="weight">Peso</option>
                    <option value="name">Nome</option>
                    <option value="base_experience">Experiência</option>
                </select>
            </div>
        </div>

        <form [formGroup]="form" (submit)="search()">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="">Pesquisa</label>
                    <input type="text" class="form-control" placeholder="Pesquisa Global" formControlName="name" />
                </div>
            </div>

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <span style="font-size: 0.75em;">Obs: Pesquisa em memória</span>
                <button class="btn btn-primary" ngbTooltip="Clique para pesquisar">Pesquisar <i
                        class="fa fa-search"></i></button>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let pokemon of pokemons">
                <div class="" (click)="navigateToDetail(pokemon)">
                    <app-card [title]="templ">
                        <div style="text-align: center;">
                            <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
                            <ul style="list-style: none; padding: 0;">
                                <li>Peso: {{ pokemon.weight }}</li>
                                <li>Altura: {{ pokemon.height }}</li>
                                <li>Exp.: {{ pokemon.base_experience }}</li>
                            </ul>
                        </div>
                    </app-card>
                    <ng-template #templ>
                        <h5 class="text-center">#{{ pokemon.id }} - {{ pokemon.name | titlecase }}</h5>
                    </ng-template>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="meta?.next" style="margin-top: 20px;">
            <div class="col-md-12 text-center">
                <button class="btn btn-primary clearfix" (click)="handlerShowMore($event)">
                    Mostrar mais...
                    <!-- <i class="fa fa-plus"></i> -->
                </button>
            </div>
        </div>

    </div>
</div>
<button (click)="gotoTop()" *ngIf="btnTopShow" class="btn btn-light btn-lg back-to-top" role="button">
    <i class="fa fa-chevron-up"></i>
</button>