::ng-deep {
    app-poke-list {
        // color: #fff;
        padding: 20px;
        .filters {
            padding: 20px;
            border-radius: 5px;
            background-color: #f2f2f2;
        }
    }
    
}