.body {
    display: flex;
    flex-direction: column;
}
main {
    background-image: url('~src/assets/img/body_bg.png');
    min-height: calc(100vh - #{$footer-height});
    height: auto;
    padding: 30px;
}
.site-container {
    flex: 1 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    
}

.back-to-top {
    position: fixed;
    bottom: calc(#{$footer-height} + 10px);
    right: 10px;
    z-index: 999;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}