<!-- <canvas #myCanvas>{{ chart }}</canvas>
<div #foo></div> -->
<div class="site-container">
    <div class="row pokemon pokemon__detail">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" (click)="goBack()">Voltar <i class="fa fa-arrow-left"></i></button>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="pokemon__detail__img col-md-3 col-xs-12">
                    <img [src]="pokemon?.sprites.front_default" alt="Pokemon front">
                </div>
                <div class="pokemon__detail__info col-md-9 col-xs-12">
                    <h4 style="color: black;" class="text-left">
                        {{ pokemon?.name | titlecase }}
                    </h4>
                    <div class="types">
                        <ul style="list-style: none; padding: 0;">
                            <li *ngFor="let item of pokemon?.types">
                                <div [ngSwitch]="item.type.name">
                                    <span class="tag tag-red" *ngSwitchCase="'fire'">{{ item.type.name }}</span>
                                    <span class="tag tag-purple" *ngSwitchCase="'flying'">{{ item.type.name }}</span>
                                    <span class="tag tag-geekblue" *ngSwitchCase="'water'">{{ item.type.name }}</span>
                                    <span class="tag tag-purple" *ngSwitchCase="'poison'">{{ item.type.name }}</span>
                                    <span *ngSwitchDefault class="tag tag-default">{{ item.type.name }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="title-info"><i class="fa fa-bar-chart-o"></i> {{ pokemon?.name | titlecase }}'s Base
                        Status</h5>
                    <div class="pokemon__status">
                        <div class="pokemon__status--chart">
                            <div *ngIf="chartLoaded">
                                <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions"
                                    [labels]="radarChartLabels" [chartType]="radarChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="pokemon__generalInfo">
                <div id="stats-basic_stats">
                    <h5 class="title-info">Informações Gerais</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="stats-pokeHeight">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body p-3 text-center">
                                            <div class="h1 m-0">{{ pokemon?.height }}</div>
                                            <div class="text-muted mb-4">Altura (cm)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="stats-pokeWeight">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body p-3 text-center">
                                            <div class="h1 m-0">{{ pokemon?.weight }}</div>
                                            <div class="text-muted mb-4">Peso (Kg)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="stats-baseXp">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body p-3 text-center">
                                            <div class="h1 m-0">{{ pokemon?.base_experience }}</div>
                                            <div class="text-muted mb-4">Base Xp</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>