<div class="filters col-md-8 offset-md-2">
    <pre>{{ form.value | json }}</pre>
    <form [formGroup]="form" (submit)="search()">
        <div class="form-group">
            <label for="">Nome</label>
            <input type="text" class="form-control" placeholder="Nome do pokémon" formControlName="name" />
        </div>

        <div class="text-right">
            <button class="btn btn-primary" ngbTooltip="Clique para pesquisar">Pesquisar <i class="fa fa-search"></i></button>
        </div>
        
    </form>
</div>

<app-poke-list [pokemons]="pokemons"></app-poke-list>
